<div alt-component="sidebar" data-scope="sidebar"></div>

<div class="row">
    <div class="col-md-8">
        <div ng-show="step==1">
            <h3 class="text-center">Commnets</h3>
            <div class="separator"> </div>
            <form class="form" ng-submit="init()">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchText" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="separator"></div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Article</th>
                            <th>Type</th>
                            <th>Comment</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in comments">
                            <td>{{a.email}}</td>
                            <td>{{a.article_title}}</td>
                            <td>{{getType(a.content_type)}}</td>
                            <td ng-bind-html="a.content_text"></td>
                            <td class="text-right">
                                <button type="button" class="btn btn-primary" ng-click="editArticle(a)">
                                    <span class="glyphicon glyphicon-pencil"></span> Delete
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="editArticle(a)">
                                    <span class="glyphicon glyphicon-pencil"></span> Reply
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="editArticle(a)">
                                    <span class="glyphicon glyphicon-pencil"></span> Thread
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                pagination
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div alt-component="thread" data-scope="thread" ng-show="step==2"></div>



    </div>
    <div class="col-md-4"></div>
</div>
